<!DOCTYPE html>
<html>
<head>
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="/estilos/styles.css">
</head>
<body>
    <section class="formulario">
        <h2>Editar Usuario</h2>
            <form action="/edit/<%= user.num_cuenta %>" method="POST">
            <input class="campo" type="text" id="num_cuenta" name="num_cuenta" placeholder="Numero de cuenta" required>
            <br>
            <input class="campo" type="text" id="nombre" name="nombre" placeholder="Nombre" required>
            <br>
            <input class="campo" type="text" id="apellido_P" name="apellido_P" placeholder="Apellido Paterno" required>
            <br>
            <input class="campo" type="text" id="apellido_M" name="apellido_M" placeholder="Apellido Materno" required>
            <br>
            <select id="carrera" name="carrera" aria-placeholder="Carrera" required>
                <option value="" disabled selected>Carrera</option>
                <optgroup label="Ciencias Físico-Matemáticas y de las Ingenierías">
                <option value="Ingenieria Civil">Ingeniería Civil</option>
                <option value="Ingenieria en Computación">Ingeniería en Computación</option>
                <option value="Ingenieria Electrica Electrónica">Ingeniería Eléctrica Electronica</option>
                <option value="Ingenieria Industrial">Ingeniería Industrial</option>
                <option value="Ingenieria Mecánica">Ingeniería Mecanica</option>
                <optgroup label="Ciencias Sociales">
                <option value="Comunicación y Periodismo">Comunicación y Periodismo</option>
                <option value="Derecho">Derecho</option>
                <option value="Economía">Economía</option>
                <option value="Planificación para el Desarrollo">Planificacion para el Desarrollo</option>
                <option value="Relaciones Internacionales">Relaciones Internacionales</option>>
                <option value="Sociología">Sociología</option>
                <optgroup label="Humanidades y Artes">
                <option value="Arquitectura">Arquitectura</option>
                <option value="Diseño Industrial">Diseño Industrial</option>
                <option value="Pedagogía">Pedagogía</option>
            </select>
            <br>
            <input class="campo" type="email" id="correo" name="correo" placeholder="Correo" required>
            <br>
            <input class="campo" type="number" id="telefono" name="telefono" placeholder="Telefono" required>
            <br>
            <input class="campo" type="number" id="semestre" name="semestre" placeholder="Semestre" required>
            <br>
            <button class="boton" type="submit">Guardar Cambios</button>
        </form>
    </section>
</body>
</html>